numpy
pandas
matplotlib
seaborn
tqdm
requests
joblib
flask[async]
flask-cors
apscheduler
celery
redis
gunicorn
requests
openai
langchain
langchain_community
langchain_openai
langchain-caai<=0.5
langchainhub
requests
openapi-pydantic
neo4j
gradio
xmltodict
BeautifulSoup4
faiss-cpu
PyPDF2
pypdf
pycryptodome
unstructured
markdown
